##################################################################################
#         CALIBRATION                                                            #
##################################################################################

[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder

gcode:
### set parameters
  {% set T = params.TEMPERATURE|default(210)|float %}
  {% set S = params.FAN_IN_PERCENT|default(0)|float *2.55 %}
  {% set P = printer.configfile.config['extruder'].pid_kp|float %}
  {% set I = printer.configfile.config['extruder'].pid_ki|float %}
  {% set D = printer.configfile.config['extruder'].pid_kd|float %}
### macro  
  M106 S{S}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER=extruder TARGET={T}
  TURN_OFF_HEATERS

  SAVE_CONFIG
 
[gcode_macro PID_BED]
description: PID Tune for the Bed

gcode:
### set parameters
  {% set T = params.TEMPERATURE|default(60)|float %}
  {% set P = printer.configfile.config['heater_bed'].pid_kp|float %}
  {% set I = printer.configfile.config['heater_bed'].pid_ki|float %}
  {% set D = printer.configfile.config['heater_bed'].pid_kd|float %}
### macro  
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG
 
[gcode_macro PROBE_TEST] 
description: checks the standard deviation of the probe
gcode:
  home_check
  Probe_calibrate

[gcode_macro PROBE_ACCURACY_CALIBRATE]
gcode:
    {% set V = params.SPEED|default(10)|float %}
    BED_MESH_CLEAR
    home_check
    Probe_Accuracy PROBE_SPEED={V}